.sidebar-section {
    width: 100%;
}

.sidebar-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.sidebar-items {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar-label-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    padding-right: 8px;
    width: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar-label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;
}

.sidebar-label-container:hover input~.checkmark {
    background-color: #e0e0e0;
}

.sidebar-label-container input:checked~.checkmark {
    background-color: #2196f3;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.sidebar-label-container input:checked~.checkmark::after {
    display: block;
}

.sidebar-label-container .checkmark::after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.label-text {
    margin-left: 36px;
    color: #333;
}

.line {
    margin-top: 3rem;
    border-color: #f7f7f7;
}